 h4{
     color: black;
     font: bolder;
 }
  nav, nav .nav-wrapper  {
    height: 102px;
    line-height: 64px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
 
 nav  .brand-logo{
     margin-left :5px;
     
 }
 #dropdown{
 color:black;
 font: bolder;
 }
 
 #appname{
     margin-left: 50px;
 }
 
    
  form{
       margin-left: 500px;
    width :500px;
  }
  
  p{
     color: black;
     font: bolder;
 }
 #loginModal{
      color: black;
     font: bolder;
     
 }
 #modal2{
      color: black;
     font: bolder;
     
 }
 
 .input-field label {
     border: 2px black;
 }
 
 .x1{
     font-size: 1.2rem;
 }
 
 .card-title{
     
     color: black;
     font: bolder;
     
 }
 
 #textarea1{
     color: black;
     font: bolder;
     
 }
 
 #rest_name{
     color: black;
     font: bolder;
 }
 
 .rating{
     color: black;
    
 }
 
 .rating {
    color: light-blue darken-4;
}
#u3{
	color:black;
}

#password3{
	color:black;
}

option{
    color: black;
}
input, select, textarea{
    color: black;
   
}

.file-path validate{
    background-color: red;
    
}
#search {
    height: 100%;
    padding: 1em;
    padding-left: 3em;
    width:70%;
}
#clear{
	left:75%;
}